/* SOBRE MÍ */

.section-about-me__avatar {
  width: 150px;
}

.section-about-me__container {
  display: flex;
  flex-direction: row;
}

.section-about-me__card {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
}

.section-about-me__card-info {
  width: 50%;
}

.section-about-me__card-switches {
  width: 50%;
}

.section-about-me__card-info .button-primary {
  margin: 0;
}

.section-about-me__avatar-container {
  margin-top: 25px;
}

.section-about-me__card-skills {
  width: 50%;
  box-sizing: border-box;
  margin-left: 20px;
}

.section-about-me__skill-bar {
  margin: 10px 0 15px;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 16px;
  height: 8px;
}

.section-about-me__skill-bar--html {
  background-color: $otrosColores1;
  width: 95%;
  height: 8px;
  border-radius: 16px;
}

.section-about-me__skill-bar--css {
  background-color: $otrosColores2;
  width: 90%;
  height: 8px;
  border-radius: 16px;
}

.section-about-me__skill-bar--ps {
  background-color: $otrosColores3;
  width: 70%;
  height: 8px;
  border-radius: 16px;
}

.section-about-me__card-info {
  margin: 0 0 16px 0;
  max-width: 350px;
  line-height: 1.7;
}
