/* BOTONES */
.button-primary {
  background-color: $color3;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  border-radius: 21px;
  width: max-content;
  min-width: 160px;
  color: $color1;
  display: flex;
  height: 42px;
  border: none;
  outline: none;
  margin: 0 auto;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.button-primary:hover {
  background-color: $color3;
  color: $otrosColores4;
  transform: scale(1.2);
}

.button-primary a {
  text-decoration: none;
  color: $color1;
}
