/********  VARIABLES  **********/
$color1: white;
$color2: #6f1968;
$color3: #ff17d8;
$color4: #ffe7fd;
$color7: black;

$color5: rgba(69, 67, 96, 0.1);
$color6: rgba(255, 255, 255, 0.1);

$otrosColores1: #ff8c8c;
$otrosColores2: #9eb4ff;
$otrosColores3: #62e4e9;
$otrosColores4: honeydew;
$otrosColores5: rgb(143, 219, 255);
$otrosColores6: rgb(255, 241, 159);
$otrosColores7: rgba(65, 92, 182, 0.774);

$font: "Roboto", sans-serif;
$font2: "Fredoka One", cursive;
