/********  VARIABLES  **********/
$color1: white;
$color2: #6f1968;
$color3: #ff17d8;
$color4: #ffe7fd;

$color5: rgba(69, 67, 96, 0.1);
$color6: rgba(255, 255, 255, 0.1);

$otrosColores1: #6c6ce5;
$otrosColores2: #ffd15c;
$otrosColores3: #ff4c60;
$otrosColores4: honeydew;

$font: "Roboto", sans-serif;
$font2: "Fredoka One", cursive;
