/********  VARIABLES  **********/
$color1: white;
$color2: #6f1968;
$color3: #ff17d8;
$color4: #ffe7fd;
$color7: black;

$color5: rgba(69, 67, 96, 0.1);
$color6: rgba(255, 255, 255, 0.1);

$otrosColores1: #f78393;
$otrosColores2: #89e7ff;
$otrosColores3: #ca92eb;
$otrosColores4: honeydew;
$otrosColores5: #78c7ba;
$otrosColores6: rgb(255, 232, 132);
$otrosColores7: rgba(69, 72, 228, 0.774);

$font: "Roboto", sans-serif;
$font2: "Fredoka One", cursive;
